body {
    
    height: 100vh;
    margin: 0;
    background-color: black;
  }
  
  h1 {
    color: wheat;
    text-align: center;
    margin-bottom: 2rem;
  }

  /* .table-top {
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    
  }


  /* .ball {
    margin-top: 50px;
  }
   */ */

 .table-top{
    position: relative;
    width: 100%;
    height: 100vh;
  }
  
  #pokemon-card{
    display: none;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    font-size: 2rem;
    padding: 1rem;

  }


  #ball {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;

    padding: 1rem;
  }

  #ball-image {
    height: 130px;
  }

  #pokemon-image {
    max-width: 100%;
    height: 300px;
    margin-bottom: 1rem;
  }
  
  /* .pokemon-card {
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: none;
    
  }
  
  
  
  #pokemon-types {
    font-size: larger;
  } */
  